.tech-list-icon {
  display: initial;
  width: 65%;
  transition: .25s all linear
}
.tech-list-icon:hover {
  transform: scale(1.05)
}

.experience-page {
  background: url("../images/smallMountains.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  animation: 1.5s fade ease;
}
@keyframes fade {
  0% {
    opacity: 0
  }
}
