.resume-page {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url('../App/mountainbottom.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom;
    animation: 1.5s fade ease;
}
@keyframes fade {
    0% {
      opacity: 0
    }
  }
iframe {
    height: 900px;
    width: 100%;
    margin-top: 75px;
    border: none;
    opacity: 0.95;
}
