
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contactID {
    background: url('../images/smallMountains.png');
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
}
#contactSection {
    padding-top: 50px;
}
#main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#email,#name,#message  {
    box-shadow: 0px 21px 11px -16px rgb(0,0,0,0.3);
    border: 1px solid black;
    background: none;
}
.App {
    min-width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.contact-options-box {
    display: flex;
    flex-direction: column;
}
.contact-icon {
    margin-right: 5px;
    color: black;
}
.contact-options {
    display: flex;
    margin-bottom: 5px;
}
.contact-option {
    margin-right: 10px;
}
.contact-icon, .contact-option a {
    transition: all .75s linear;
}
.contact-option a {
    color:black;
}

.contact-option a:hover, .contact-icon:hover {
    color: grey;
    text-decoration: none;
    transform: scale(1.1)
}
.formGroup {
    display: flex;
    flex-direction: column;
}

.alert {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    font-family: "Oswald", sans-serif !important;
}
#button {
    background: none;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    box-shadow: 0px 21px 11px -16px rgb(0,0,0,0.3)

}

label {
    color: black;
}
.p-heading1 {
    color: black;
}
#button:hover, #button:active {
    color: white;
    background: grey;
    transform: scale(1.1,1.1);
    box-shadow: .1px .1px .1px grey;
    
}
@media only screen and (min-width: 420px){
    #main {
        width: 70%
    }
}
@media only screen and (min-width: 720px){
    .form {
        width: 100%;
        justify-content: center;
        align-items: center;   
    }
    #main {
        width: 95%
    }
    #form {
        padding-top: 10px;
        width: 500px !important;
        font-size: 20px;
        }
        .form-control {
            font-size: 18px;
        }
        textarea {
            height: 100px !important;
        }
}