

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.burgerDiv {
    display: flex;
}
@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
.burgerLink {
    text-decoration: none;
}
#bullhorn {
    margin-right: 10px;
}
@media only screen and (min-width: 720px){
    .burgerDiv {
        display: none;
    }
}