.accordion-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}
.accordion-1 {
    transition: transform 0.3s ease-out; 
    height:auto;
    transform:scaleY(1);
    transform-origin:top; 
  }
.subtitle-box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
#featured-span {
    font-weight: 600;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}
#badge-link {
    color: #31708e;
}

.collapsed {
    transform:scaleY(0); 
}
.accordion-button {
    height: 65px;
    font-size: 32px;
    border-radius: 4px;
    margin-bottom: 0;
    margin-top: 45px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 2.5px 0px rgba(0, 0, 0, 0.06),
  0 12.3px 7.9px rgba(0, 0, 0, 0.072),
  0 21.8px 13.4px rgba(0, 0, 0, 0.086),
  0 50px 30px rgba(0, 0, 0, 0.12);
    background: #687864;
    border-left:8px solid #31708e;
    border-bottom-left-radius: 0;
    color: #f7f9fb;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: .5s all linear;
    

}
.tech-icon {
    margin-right: 10px;
    display: none;
}
#picnic, #bullhorn, #food {
    margin-right: 10px;
    height: 35px;
    width: 40px;
    align-self: center;
}
.accordion-button:hover {
    background-color: #404b3e;
}

.accordion-icon{
    color: #31708e;
    margin-right: 10px;
}
.accordion-sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    width: 100%;
    background: #f7f9fb;
    border-left: 8px solid #31708e;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 2.5px 0px rgba(0, 0, 0, 0.06),
  0 12.3px 7.9px rgba(0, 0, 0, 0.072),
  0 21.8px 13.4px rgba(0, 0, 0, 0.086),
  0 50px 30px rgba(0, 0, 0, 0.12)
;
}
.project-description {
    padding: 2%;
    margin-bottom: 0;
    font-size: 18px;
    color: black;
}
.btn-link:hover, .btn:hover {
    text-decoration: none !important;
}
@media only screen and (min-width: 520px){
    .tech-icon {
        display: initial;
    }
}
@media only screen and (min-width:720px){
    .accordion-container {
        width: 85%;
    }
    #featured-span {
        flex-direction: row;
        align-items: center;
        background-color: #31708ecc;
        border-radius: 10px;
        margin-top: 10px;
        padding: 1%;

    }
    #badge-link {
        color: white;
    }
    #badge {
        margin-right:10px
    }
}