
#home {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background: url('../images/mountainNoText.png'), url('./mountainbottom.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top, bottom;
  padding-bottom: 100px;
}
#body {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

}
main {
  padding-top: 50px;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.section5 {
  display: none;
}

@media only screen and (min-width: 720px) {
  .projectsHeader {
    width: 80%;
    padding-top: 100px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}

