nav {
    padding: 1% 0;
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none !important;
    z-index: 10;
    background: rgb(64, 75, 62);
    box-shadow: 0 8px 4px -6px rgb(0,0,0,.4)
    
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    font-size: 1.3em
  }
  
  nav ul li {
    margin-right: 30px;
  }
  
  nav ul li a, .about, .projects-link, .contact {
    text-decoration: none !important;
    color: white;
    letter-spacing: .07em;
    font-size: 1em;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    font-family: "Oswald";
    font-size: 24px;
  }
  
  nav ul li a:hover, .about:hover, .projects-link:hover, .contact:hover {
    text-decoration: none;
    color: #5085A5 !important;
    cursor: pointer;
  }
  @media only screen and (min-width: 520px){
    nav ul li a, .about, .projects-link, .contact{
      font-size: .8em;
    }
  }
  @media only screen and (min-width: 720px) {
    nav ul li a, .about, .projects-link, .contact {
      font-size: .9em;
    }
    nav {
      display: block !important;
    }
  }
  