nav {
    padding: 1% 0;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none !important;
    z-index: 10;
    background: black;
    box-shadow: 0 8px 4px -6px rgb(0,0,0,.4)
    
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    list-style: none;
    align-items: center;
    font-size: 1.3em;
  }
  nav ul li a, .about, .projects-link, .contact {
    text-decoration: none !important;
    color: white;
    font-size: 1em;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
  }
  
  nav ul li a:hover, .about:hover, .projects-link:hover, .contact:hover {
    text-decoration: none;
    color: grey !important;
    cursor: pointer;
    letter-spacing: .015em;
  }
  @media only screen and (min-width: 520px){
    nav ul li a, .about, .projects-link, .contact{
      font-size: .8em;
    }
    
  }
  @media only screen and (min-width: 720px) {
    nav ul li a, .about, .projects-link, .contact {
      font-size: 22px;
    }
    nav {
      display: flex !important;
      align-items: center;
    }
    .links {
      margin-bottom: 0;
      width: 70%;
      margin-right: 0;
      margin-left: auto;
    }
  }
  @media only screen and (min-width:900px){
    .links {
      width: 50%;
    }
  }
  