.section3 a, .section4 a {
    margin-right: 20px;
}
.section3, .section4 {
    animation: sectionIn .75s linear;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.body {
    font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

@keyframes sectionIn {
    0% {
        opacity: 0.3;
        transform: scale(0.98) 
    }
}
.mealGenerator {
    justify-content: center;
    max-height: 100%;
    margin-top: 25px;
    overflow: hidden;
    box-shadow: 0px 21px 11px -16px rgb(0,0,0,0.4),
    10px 0px 16px 0px rgb(0,0,0,0.4);

}
.main-border {
    padding-bottom: 50px;
}

p {
    font-family: 'Karla', sans-serif;
    padding: 20px;
    line-height: 1.5em;
}
.projectsHeader {
        width: 100%;
        min-height: 50px;
        max-height: 150px;
        font-size: 1.4em;
        color: #f7f9fb;
        margin-bottom: 0px;
        padding-bottom: 200px;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
}
.projectsHeader::before {
    content: "";
    height: 400px;
    width: 100%;
    position: absolute;
    top: 300px;
    background: url('../images/linebreak.png');
        background-repeat: no-repeat;
        background-size: contain;
}
#publicsafety {
    font-size: 18px;
    color: black;
    padding-bottom: 0;
}
.repoLinks {
    color: black;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    font-size: 25px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    
}

.repoLinks:hover {
    color: rgb(64, 75, 62);
    text-decoration: none;
    cursor: pointer;
    
}

.public h3 {
    font-size: 35px;
    font-family: "Rubik", sans-serif;
    color: black;
    margin-left: 25px;
}

.public {
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin-top: 25px;
    background: #f7f9fb;
    border: 3px solid black;
    
}

section h4 {
    color: black;
    text-align: left;
    font-size: 2em;
    padding-bottom: 15px;
    width: 92%;
    padding-left: 20px;
}
.projects-header {
    text-align: center;
    position: relative;
    color: black;
    width: 60%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-header::before {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -200px;
    width: 400px;
    height: 400px;
}
section {
    min-height: 200px;
    padding: 3% 0 5% 0;
    margin: 25px 20px 25px 20px;
    text-align: left;
    background: none;
    opacity: .9;
}
.mealScreenshot {
    max-height: 680px;
    align-self: center;
}
img {
    width: 100%;
    height: 75%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#project-p {
    margin-bottom: 0;
    padding-bottom: 0;
}
.section3, .section4 {
    display: flex;
    flex-direction: column;
    padding: 0 0;
}
.project-link-icon {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}

.githublist {
    display: block;
    padding: 2%;
    padding-left: 1%;
    text-align: left;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.public {
    padding-top: 20px;
    color: black;
    box-shadow: 0px 11px 21px -8px rgba(0,0,0,0.7);
}

.mealScreenshot {
    text-align: center;
    max-width: 600px;
}
 @media only screen and (min-width: 520px){
     .mealGenerator {
         margin-left: auto;
         margin-right: auto;
     }
     .projectsHeader::before {
         top: 500px;
     }
 }

@media only screen and (min-width: 720px) {
    .mealGenerator {
        margin-top: 10px;
    }
    img {
        width: 65%;
    }
    .projectsHeader::before {
        top: 700px;
    }
    .public div {
        display: flex;
        flex-direction: column;
    }
    section {
        margin: 25px 50px 25px 50px;
    }
    #publicsafety {
        font-size: 18px;
        align-self: flex-start;
    }
    .date {
        color: white;
    }
    .public {
        display: flex;
        flex-direction: column;
        margin: 75px 100px;
        line-height: 1.5em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    } 
}
@media only screen and (min-width: 800px){
    .projectsHeader::before {
        top: 700px;
    }
}
@media only screen and (min-width: 900px){
    .projectsHeader::before {
        top: 900px;
    }
    .projectsHeader {
        margin-top: 150px;
    }
}
    @media only screen and (max-width: 420px) {
        .mealGenerator {
            text-align: center;
            margin-top: 20px;
        }
        .mealScreenshot {
            margin-top: 25px;
        }
        section {
            margin-left: 50px;
            margin-right: 50px;
        }
    }